/********************
YOUR STYLES
*******************/

h1
{
    text-transform: uppercase;
    color: cadetblue;
}

.char7
{
    background: tomato;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
}


/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}